.-mt-2 { 
  margin-top: -2rem;
}

.-mt-1\.5 { 
  margin-top: -1.5rem;
}

.-mt-1 { 
  margin-top: -1rem;
}

.-mt-0\.75 { 
  margin-top: -0.75rem;
}

.-mt-0\.5 { 
  margin-top: -0.5rem;
}

.-mt-0\.25 { 
  margin-top: -0.25rem;
}

.-mt-0\.125 { 
  margin-top: -0.125rem;
}

.mt-0 { 
  margin-top: 0rem;
}

.mt-0\.125 { 
  margin-top: 0.125rem;
}

.mt-0\.25 { 
  margin-top: 0.25rem;
}

.mt-0\.5 { 
  margin-top: 0.5rem;
}

.mt-0\.75 { 
  margin-top: 0.75rem;
}

.mt-1 { 
  margin-top: 1rem;
}

.mt-1\.125 { 
  margin-top: 1.125rem;
}

.mt-1\.25 { 
  margin-top: 1.25rem;
}

.mt-1\.5 { 
  margin-top: 1.5rem;
}

.mt-1\.75 { 
  margin-top: 1.75rem;
}

.mt-2 { 
  margin-top: 2rem;
}

.mt-2\.5 { 
  margin-top: 2.5rem;
}

.mt-3 { 
  margin-top: 3rem;
}

.mt-3\.5 { 
  margin-top: 3.5rem;
}

.mt-4 { 
  margin-top: 4rem;
}

.mt-4\.5 { 
  margin-top: 4.5rem;
}

.mt-5 { 
  margin-top: 5rem;
}

.mt-6 { 
  margin-top: 6rem;
}

.mt-8 { 
  margin-top: 8rem;
}

.mt-10 { 
  margin-top: 10rem;
}

.mt-auto { 
  margin-top: auto;
}

//

.-mb-2 { 
  margin-bottom: -2rem;
}

.-mb-1\.5 { 
  margin-bottom: -1.5rem;
}

.-mb-1 { 
  margin-bottom: -1rem;
}

.-mb-0\.75 { 
  margin-bottom: -0.75rem;
}

.-mb-0\.5 { 
  margin-bottom: -0.5rem;
}

.-mb-0\.25 { 
  margin-bottom: -0.25rem;
}

.-mb-0\.125 { 
  margin-bottom: -0.125rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.mb-0\.125 {
  margin-bottom: 0.125rem;
}

.mb-0\.25 {
  margin-bottom: 0.25rem;
}

.mb-0\.5 {
  margin-bottom: 0.5rem;
}

.mb-0\.75 {
  margin-bottom: 0.75rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-1\.125 {
  margin-bottom: 1.125rem;
}

.mb-1\.25 {
  margin-bottom: 1.25rem;
}

.mb-1\.5 {
  margin-bottom: 1.5rem;
}

.mb-1\.75 {
  margin-bottom: 1.75rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-2\.5 {
  margin-bottom: 2.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-3\.5 {
  margin-bottom: 3.5rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-4\.5 {
  margin-bottom: 4.5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.mb-auto {
  margin-bottom: auto;
}

//

.-mr-2 { 
  margin-right: -2rem;
}

.-mr-1\.5 { 
  margin-right: -1.5rem;
}

.-mr-1 { 
  margin-right: -1rem;
}

.-mr-0\.75 { 
  margin-right: -0.75rem;
}

.-mr-0\.5 { 
  margin-right: -0.5rem;
}

.-mr-0\.25 { 
  margin-right: -0.25rem;
}

.-mr-0\.125 { 
  margin-right: -0.125rem;
}

.mr-0 {
  margin-right: 0rem;
}

.mr-0\.125 {
  margin-right: 0.125rem;
}

.mr-0\.25 {
  margin-right: 0.25rem;
}

.mr-0\.5 {
  margin-right: 0.5rem;
}

.mr-0\.75 {
  margin-right: 0.75rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-1\.125 {
  margin-right: 1.125rem;
}

.mr-1\.25 {
  margin-right: 1.25rem;
}

.mr-1\.5 {
  margin-right: 1.5rem;
}

.mr-1\.75 {
  margin-right: 1.75rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-2\.5 {
  margin-right: 2.5rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-3\.5 {
  margin-right: 3.5rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mr-4\.5 {
  margin-right: 4.5rem;
}

.mr-5 {
  margin-right: 5rem;
}

.mr-6 {
  margin-right: 6rem;
}

.mr-8 {
  margin-right: 8rem;
}

.mr-10 {
  margin-right: 10rem;
}

.mr-auto {
  margin-right: auto;
}

//

.-ml-2 { 
  margin-left: -2rem;
}

.-ml-1\.5 { 
  margin-left: -1.5rem;
}

.-ml-1 { 
  margin-left: -1rem;
}

.-ml-0\.75 { 
  margin-left: -0.75rem;
}

.-ml-0\.5 { 
  margin-left: -0.5rem;
}

.-ml-0\.25 { 
  margin-left: -0.25rem;
}

.-ml-0\.125 { 
  margin-left: -0.125rem;
}

.ml-0 {
  margin-left: 0rem;
}

.ml-0\.125 {
  margin-left: 0.125rem;
}

.ml-0\.25 {
  margin-left: 0.25rem;
}

.ml-0\.5 {
  margin-left: 0.5rem;
}

.ml-0\.75 {
  margin-left: 0.75rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-1\.125 {
  margin-left: 1.125rem;
}

.ml-1\.25 {
  margin-left: 1.25rem;
}

.ml-1\.5 {
  margin-left: 1.5rem;
}

.ml-1\.75 {
  margin-left: 1.75rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-2\.5 {
  margin-left: 2.5rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-3\.5 {
  margin-left: 3.5rem;
}

.ml-4 {
  margin-left: 4rem;
}

.ml-4\.5 {
  margin-left: 4.5rem;
}

.ml-5 {
  margin-left: 5rem;
}

.ml-6 {
  margin-left: 6rem;
}

.ml-8 {
  margin-left: 8rem;
}

.ml-10 {
  margin-left: 10rem;
}

.ml-auto {
  margin-left: auto;
}

//

.-my-2 { 
  margin-top: -2rem;
  margin-bottom: -2rem;
}

.-my-1\.5 { 
  margin-top: -1.5rem;
  margin-bottom: -1.5rem;
}

.-my-1 { 
  margin-top: -1rem;
  margin-bottom: -1rem;
}

.-my-0\.75 { 
  margin-top: -0.75rem;
  margin-bottom: -0.75rem;
}

.-my-0\.5 { 
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}

.-my-0\.25 { 
  margin-top: -0.25rem;
  margin-bottom: -0.25rem;
}

.-my-0\.125 { 
  margin-top: -0.125rem;
  margin-bottom: -0.125rem;
}

.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.my-0\.125 {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}

.my-0\.25 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-0\.5 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-0\.75 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-1\.125 {
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
}

.my-1\.25 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.my-1\.5 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-1\.75 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-2\.5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-3\.5 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.my-4\.5 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.my-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.my-6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.my-8 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.my-10 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

//

.-mx-2 { 
  margin-right: -2rem;
  margin-left: -2rem;
}

.-mx-1\.5 { 
  margin-right: -1.5rem;
  margin-left: -1.5rem;
}

.-mx-1 { 
  margin-right: -1rem;
  margin-left: -1rem;
}

.-mx-0\.75 { 
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.-mx-0\.5 { 
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.-mx-0\.25 { 
  margin-right: -0.25rem;
  margin-left: -0.25rem;
}

.-mx-0\.125 { 
  margin-right: -0.125rem;
  margin-left: -0.125rem;
}

.mx-0 {
  margin-right: 0rem;
  margin-left: 0rem;
}

.mx-0\.125 {
  margin-right: 0.125rem;
  margin-left: 0.125rem;
}

.mx-0\.25 {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.mx-0\.5 {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.mx-0\.75 {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.mx-1 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.mx-1\.125 {
  margin-right: 1.125rem;
  margin-left: 1.125rem;
}

.mx-1\.25 {
  margin-right: 1.25rem;
  margin-left: 1.25rem;
}

.mx-1\.5 {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.mx-1\.75 {
  margin-right: 1.75rem;
  margin-left: 1.75rem;
}

.mx-2 {
  margin-right: 2rem;
  margin-left: 2rem;
}

.mx-2\.5 {
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}

.mx-3 {
  margin-right: 3rem;
  margin-left: 3rem;
}

.mx-3\.5 {
  margin-right: 3.5rem;
  margin-left: 3.5rem;
}

.mx-4 {
  margin-right: 4rem;
  margin-left: 4rem;
}

.mx-4\.5 {
  margin-right: 4.5rem;
  margin-left: 4.5rem;
}

.mx-5 {
  margin-right: 5rem;
  margin-left: 5rem;
}

.mx-6 {
  margin-right: 6rem;
  margin-left: 6rem;
}

.mx-8 {
  margin-right: 8rem;
  margin-left: 8rem;
}

.mx-10 {
  margin-right: 10rem;
  margin-left: 10rem;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

//

.-m-2 { 
  margin-top: -2rem;
  margin-bottom: -2rem;
  margin-right: -2rem;
  margin-left: -2rem;
}

.-m-1\.5 { 
  margin-top: -1.5rem;
  margin-bottom: -1.5rem;
  margin-right: -1.5rem;
  margin-left: -1.5rem;
}

.-m-1 { 
  margin-top: -1rem;
  margin-bottom: -1rem;
  margin-right: -1rem;
  margin-left: -1rem;
}

.-m-0\.75 { 
  margin-top: -0.75rem;
  margin-bottom: -0.75rem;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.-m-0\.5 { 
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.-m-0\.25 { 
  margin-top: -0.25rem;
  margin-bottom: -0.25rem;
  margin-right: -0.25rem;
  margin-left: -0.25rem;
}

.-m-0\.125 { 
  margin-top: -0.125rem;
  margin-bottom: -0.125rem;
  margin-right: -0.125rem;
  margin-left: -0.125rem;
}

.m-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.m-0\.125 {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
  margin-right: 0.125rem;
  margin-left: 0.125rem;
}

.m-0\.25 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.m-0\.5 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.m-0\.75 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.m-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.m-1\.125 {
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
  margin-right: 1.125rem;
  margin-left: 1.125rem;
}

.m-1\.25 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  margin-right: 1.25rem;
  margin-left: 1.25rem;
}

.m-1\.5 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.m-1\.75 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  margin-right: 1.75rem;
  margin-left: 1.75rem;
}

.m-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.m-2\.5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}

.m-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-right: 3rem;
  margin-left: 3rem;
}

.m-3\.5 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  margin-right: 3.5rem;
  margin-left: 3.5rem;
}

.m-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-right: 4rem;
  margin-left: 4rem;
}

.m-4\.5 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
  margin-right: 4.5rem;
  margin-left: 4.5rem;
}

.m-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-right: 5rem;
  margin-left: 5rem;
}

.m-6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
  margin-right: 6rem;
  margin-left: 6rem;
}

.m-8 {
  margin-top: 8rem;
  margin-bottom: 8rem;
  margin-right: 8rem;
  margin-left: 8rem;
}

.m-10 {
  margin-top: 10rem;
  margin-bottom: 10rem;
  margin-right: 10rem;
  margin-left: 10rem;
}

.m-auto {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}
